
.search_results{
    position: absolute;
    top: 50px;
    left: 200px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3 );
    width: 100%;
    overflow: scroll;
    height: 400px;
}

@media(max-width:991px){
    .search_results{
        width: 60% !important;
    }
}

@media(max-width:575px){
    .search_results{
        width: 70% !important;
        left:50px ;
    }
}


.utube_card{
    text-decoration: none;
    min-height: 100%;
    width: 100%;
    display: block;
}

.course_results{

}

.course_card{
    text-decoration: none;
    min-height: 100%;
    width: 100%;
}

.video_info{
    text-decoration: none;
}